

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}



#content h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0 0 10px #ff6e4a, 0 0 20px #ff6e4a;
  margin-bottom: 30px;
}




